{% extends "base.html" %}
{% block content %} 
<div class="error">
        <div class="jumbotron jumbotron-fluid col-xs-12 col-md-7 col-lg-7">
                <h1>Something went wrong...</h1>
                <p>Unable to find the page you were looking for. Lets return home</p>
                <a class="btn btn-primary btn-lg" href="/home" role="button">Back to Home</a>
        </div>
        <div class="col-xs-6 col-md-5 col-lg-5"><img class="error-image" src="/../static/img/facepalm.png" alt="..."></div>      
</div>
{% endblock %}