{% extends "base.html" %}
{% block nav_adminViewUser %}active{% endblock nav_adminViewUser %}
{% block content %} 
<div class="adminViewUsers">
    <div class="title-div"><h2>ADMIN PANEL</h2></div>
                <div class=joke-container>
                    <table>
                        <tr>
                            <th>Username</th>
                            <th>Email</th> 
                            <th>Date of Birth</th>
                            <th>Account Type</th>
                            <th>Remove User</th>
                        </tr>
                        {% for user in users %}
                        <tr>
                            <td>{{user[0]}}</td>
                            <td>{{user[1]}}</td> 
                            <td>{{user[3]}}</td>
                            <td>{% if user[4] == 0 %}   
                                            User
                                        {% else %}
                                            Admin
                                        {%endif %}</td>
                            <td>                                
                                <form method="POST" value=item class="like-btn">
                                        <input name="username" class="likes-calc" id="username" value="{{ user[0] }}" type="text">
                                    <input class="admin-view-remove-btn" value="Remove" type="submit">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>   
                </div>
</div>
{% endblock %}