<!doctype html>
<html> 
    <head>
    <title>Crackin Yokes</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">Crackin Yokes</a> 
    </div>

    <div id="navbar" class="collapse navbar-collapse"> 
    <ul class="nav navbar-nav">
        <li class="{% block nav_home %}{% endblock nav_home %}"><a href="/home">Home <span class="sr-only"></span></a></li> 
        <li class="{% block nav_favourites %}{% endblock nav_favourites %}"><a href="/favourites">Favourites <span class="sr-only"></span></a></li> 
        <li class="{% block nav_subscriptions %}{% endblock nav_subscriptions %}"><a href="/subscriptions">Subscriptions <span class="sr-only"></span></a></li> 
        <li class="{% block nav_viewUsers %}{% endblock nav_viewUsers %}"><a href="/discover">Discover <span class="sr-only"></span></a></li> 
        <li class="{% block nav_leaderboard %}{% endblock nav_leaderboard %}"><a href="/leaderboard">Leaderboard <span class="sr-only"></span></a></li> 
        {% if user[4] == 1 %}        
        <li class="{% block nav_adminViewUser %}{% endblock nav_adminViewUser %}"><a href="/admin_panel">Admin Panel</a></li>
              {%endif %}
        </ul> 
    <ul class="nav navbar-nav navbar-right">
            <li class="dropdown {% block nav_profile %}{% endblock nav_profile %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{user[0]}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/profile">My Profile</a></li>
                <li><a href="/subscriptions">Subscriptions</a></li>
                <li><a href="/favourites">Favourites</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
</nav>
<div class="page-container">
        {% block content %}
        {% endblock %}
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body> 
    {% include 'footer.html'%}
</html>