{% extends "base.html" %}
{% block nav_favourites %}active{% endblock nav_favourites %}
{% block content %} 
<div class="favourites">
        <div class="jumbotron jumbotron-fluid">
                <h1>Liked Jokes</h1>
                </div>
                {% for item in jokes %}
                <!-- If liked by list contains currentUser -->
                <div class=joke-container>
                        <h4><a href="/profile/{{item[2]}}">{{item[2]}}</a></h4>
                        <h3>{{item[1]}}</h3>
                        <p class="joke-info">Posted on {{item[3]}} {% if user[0] in item[4] %}</p>   
                                <img class="like_img" src="/../static/img/Likes+1.png" name="like-img">
                                {% else %}
                                <form method="POST" value=item class="like-btn"><input name="joke-id" class="likes-calc" id="joke-id" value="{{ item[0] }}" type="text"><button class="like-btn" type="submit" name="button" value="submit"><img src="/../static/img/Likes.png" name="like-img"></button></form>
                                {%endif %}<p class="joke-info">{% if item[4].split()|length-1 == -1 %}
                                        
                                        {% else %}
                                        {{item[4].split()|length-1}}</p>   
                                        {%endif %}
                </div>
                {% endfor %}
                
</div>
{% endblock %}