<div class="footer col-xs-12 col-md-12 col-lg-12">
    <div class="col-xs-4 col-md-4 col-lg-4">
    <h4>Quick Links</h4>
        <ul>
            <li><a href="/home">Home <span class="sr-only"></span></a></li>
            <li class="{% block nav_favourites %}{% endblock nav_favourites %}"><a href="/favourites">Favourites <span class="sr-only"></span></a></li> 
        <li class="{% block nav_viewUsers %}{% endblock nav_viewUsers %}"><a href="/discover">Discover <span class="sr-only"></span></a></li> 
        <li class="{% block nav_leaderboard %}{% endblock nav_leaderboard %}"><a href="/leaderboard">Leaderboard <span class="sr-only"></span></a></li> 
        <li class="{% block nav_subscriptions %}{% endblock nav_subscriptions %}"><a href="/subscriptions">Subscriptions <span class="sr-only"></span></a></li> 
        {% if user[4] == 1 %}        
        <li class="dropdown {% block nav_adminViewUser %}{% endblock nav_adminViewUser %}">
                <a href="#" class="dropdown-toggle admin-button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Panel <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/admin_panel">Users</a></li>
                </ul>
              </li>
              {%endif %}
        </ul>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
        <h4>Contact</h4>
        <ul>
            <li>David Gibson</li>
            <li>40214358@live.napier.ac.uk</li>
        </ul>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
        <h4>Copyright</h4>
            <ul>
                    <li>Designed and developed in Edinburgh</li>
                    <li>All Rights Reserved</li>
                </ul>
    </div>
</div>