{% extends "base.html" %}
{% block nav_home %}active{% endblock nav_home %}
{% block content %} 
<div class="home">
        <div class="jumbotron jumbotron-fluid">
                <h1>Welcome to Crackin Yokes</h1>
                <p>Start browsing jokes and join the community!</p>
                </div>
                <div class="joke-container">
                        <form method="POST">
                        <textarea class="joke-input" name="text"></textarea>
                        <input name="joke-id" class="likes-calc" id="joke-id" type="text">
                        <input class="joke-input-btn" value="Submit Joke" type="submit">
                        </form>
                </div>
                {% for item in jokes %}
                <div class=joke-container>
                        <h4><a href="/profile/{{item[2]}}">{{item[2]}}</a></h4>
                        <h3>{{item[1]}}</h3>
                        <p class="joke-info">Posted on {{item[3]}} {% if user[0] in item[4] %}</p>   
                                <img class="like_img" src="/../static/img/Likes+1.png" name="like-img">
                                {% else %}
                                <form method="POST" value=item class="like-btn"><input name="joke-id" class="likes-calc" id="joke-id" value="{{ item[0] }}" type="text"><button class="like-btn" type="submit" name="button" value="submit"><img src="/../static/img/Likes.png" name="like-img"></button></form>
                                {%endif %}<p class="joke-info">{% if item[4].split()|length-1 == -1 %}
                                        
                                        {% else %}
                                        {{item[4].split()|length-1}}</p>   
                                        {%endif %}
                                {% if user[4] == 1 %}
                                <form method="POST" value=item class="like-btn">
                                        <input name="joke-id" class="likes-calc" id="joke-id" value="{{ item[0] }}" type="text">
                                        <input class="admin-remove-btn" value="Delete" type="submit">
                                </form>                
                                {% endif %}
                </div>
                {% endfor %}
                
</div>
{% endblock %}