{% extends "base.html" %}
{% block nav_leaderboard %}active{% endblock nav_leaderboard %}
{% block content %} 
<div class="viewUsers">
        <div class="jumbotron jumbotron-fluid">
                <h1>Leaderboard</h1>
                </div>
                <div class=subscribers-container>
                        <table>
                            <tr>
                                <th>Username</th>
                                <th>Subcribers</th> 
                            </tr>
                            {% for user in users %}
                            <tr>
                                <td><a href="/profile/{{user[0]}}">{{user[0]}}</a></td>
                                <td>{% if user[5].split()|length-1 == -1 %}
                                        
                                        {% else %}
                                        {{user[5].split()|length-1}}</p>   
                                        {%endif %}</td>
                            </tr>
                            {% endfor %}
                        </table>   
                    </div>
</div>
{% endblock %}