<!doctype html>
<html> 
    <head>
    <title>Crackin Yokes</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <form class="login-form" name="login_form" action="" method="post">
            <img class="logo" src="/../static/img/logo.png" alt="...">
            <input class="login-input" type="email" placeholder="Email" name="email">
            <input class="login-input" type="password" placeholder="Password" name="password"> 
            <button class="login-btn" type="submit" class="btn" name="button" value="submit">
            Sign In </button>
        </form>
        <div class="bottom-link-container">
                <a class="create-account-link" href="/register">Need an account? Sign up here</a>
                </div>
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body> 
</html>