{% extends "base.html" %}
{% block nav_profile %}active{% endblock nav_profile %}
{% block content %} 
<div class="profile">
        <div class="detailed-profile-container">
            <h1>{{profileUser[0]}}</h1>
            <div class="col-xs-3 col-md-3 col-lg-3">
                    <h4>Account Type</h4>
                </div>
                <div class="col-xs-9 col-md-9 col-lg-9">
                    <h4>{% if profileUser[4] == 1 %}   
                            Admin
                        {% else %}
                            User
                        {%endif %}</h4>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3">
                    <h4>Email</h4>
                </div>
                <div class="col-xs-9 col-md-9 col-lg-9">
                    <h4>{{profileUser[1]}}</h4>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>Date Of Birth</h4>
            </div>
            <div class="col-xs-9 col-md-9 col-lg-9">
                <h4>{{profileUser[3]}}</h4>
            </div>
            <div class="profile-jokes-container">
                <h2>Jokes posted</h2>
            {% for item in jokes %}
            <div class=joke-container>
                    <h4><a href="/profile/{{item[2]}}">{{item[2]}}</a></h4>
                    <h3>{{item[1]}}</h3>
                    <p class="joke-info">Posted on {{item[3]}} {% if user[0] in item[4] %}</p>   
                            <img class="like_img" src="/../static/img/Likes+1.png" name="like-img">
                            {% else %}
                            <form method="POST" value=item class="like-btn"><input name="joke-id" class="likes-calc" id="joke-id" value="{{ item[0] }}" type="text"><button class="like-btn" type="submit" name="button" value="submit"><img src="/../static/img/Likes.png" name="like-img"></button></form>
                            {%endif %}<p class="joke-info">{% if item[4].split()|length-1 == -1 %}
                                    
                                    {% else %}
                                    {{item[4].split()|length-1}}</p>   
                                    {%endif %}
            </div>
            {% endfor %}
        </div>
        </div>
</div>
{% endblock %}
