<!doctype html>
<html> 
    <head>
    <title>Crackin Yokes</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="register-container">
        <form class="register-form" name="register_form" action="" method="post">
            <img class="logo" src="/../static/img/logo.png" alt="...">
            <input class="register-input" type="username" placeholder="Username" name="username" autocomplete="off">
            <input class="register-input" type="email" placeholder="Email" name="email">
            <input class="register-input" type="user_password" placeholder="Password" name="user_password"> 
            <input class="register-input" type="date_of_birth" name="date_of_birth"
            format="dd/mm/yyyy" placeholder="DD-MM-YYYY">
            <button class="register-btn" type="submit" class="btn" name="button" value="register">
            Register Account </button>
        </form>
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body> 
</html>