{% extends "base.html" %}
{% block nav_viewUsers %}active{% endblock nav_viewUsers %}
{% block content %} 
<div class="viewUsers">
        <div class="jumbotron jumbotron-fluid">
                <h1>Subscribe to your favourite comedians</h1>
                </div>
                <div class=joke-container>
                    <table>
                        <tr>
                            <th>Username</th>
                            <th>Email</th> 
                            <th>Date of Birth</th>
                            <th>Account Type</th>
                            <th>Subscribe</th>
                        </tr>
                        {% for user in users %}
                        <tr>
                            <td><a href="/profile/{{user[0]}}">{{user[0]}}</a></td>
                            <td>{{user[1]}}</td> 
                            <td>{{user[3]}}</td>
                            <td>{% if user[4] == 0 %}   
                                            User
                                        {% else %}
                                            Admin
                                        {%endif %}</td>
                            <td>{% if currentUser[0] in user[5] %}   
                                <input class="user-view-subscribed-btn" value="Subscribed" type="submit"> 
                                {% else %}
                                <form method="POST" value=item class="like-btn">
                                        <input name="username" class="likes-calc" id="username" value="{{ user[0] }}" type="text">
                                    <input class="user-view-subscribe-btn" value="Subscribe" type="submit">
                                </form>
                                {%endif %}                                
                            </td>
                        </tr>
                        {% endfor %}
                    </table>   
                </div>
</div>
{% endblock %}