/* The theme colours for the website. Modify these CSS variables for new themes */
:root{
    --primary-color: #151E29; 
    --body-color: #1B2737;
    --font-color: white;
    --logo-color: #1D8DEE;
    --darker-div-color: #16181f6b;
}

.navbar-inverse{
    background-color: var(--primary-color);
}
.jumbotron-fluid {
    padding: 80px;
    background-color: var(--logo-color);
    color: var(--font-color);
}

.series .jumbotron-fluid {
    background-color: var-(--primary-color);
}

.joke-container {
    padding: 20px;
    margin: 20px;
    margin-left: 160px;
    margin-right: 160px;
    background-color:var(--darker-div-color);
    border-radius: 7px;
}

table{
    border-collapse: collapse;
} 

.first-Place tr{
    font-size: 20px;
}

.subscribers-container {
    padding: 20px;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    background-color:var(--darker-div-color);
    border-radius: 7px;
}

.joke-input {
    padding: 10px;
    width: -webkit-fill-available; 
    height: 160px;
    background-color: #080808;
    border-radius: 7px;
    color: white;
    outline-width: 0px;
    resize:vertical;
    font-size: 18px;
}

.joke-input:focus {
    outline-width: 0px;
}

.bottom-link-container {
    left: 10px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 52%;
    right: 10px;
}

/* table, th, td {
    border: 1px solid white;
} */

th {
    color: var(--logo-color);
}

th, td {
    padding: 15px;
}

table {
    width: -webkit-fill-available;
    color: white;
}

.adminViewUsers{
    margin-top: 100px
}

.admin-title-div{
    background-color: red;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}

.adminViewUsers h2 {
    color: white;
    padding: 0px;
    font-size: 20px;
}

.joke-input-btn {
    padding: 12px;
    margin-top: 10px;
    text-align: right;
    background-color: var(--logo-color);
    border-radius: 7px;
    border-width: 0px;
    color: white;
}
.joke-input-btn:focus{
    outline-width: 0px;
    background-color: #1675c7;
}

.user-view-subscribe-btn {
    text-align: right;
    background-color: var(--logo-color);
    border-radius: 7px;
    border-width: 0px;
    color: white;
    width: 86px;
    text-align: center;
}

.user-view-subscribed-btn {
    text-align: right;
    background-color: #043158;
    border-radius: 7px;
    border-width: 0px;
    color: white;
}


.admin-remove-btn {
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    background-color: red;
    border-radius: 7px;
    border-width: 0px;
    color: white;
}

.admin-view-remove-btn {
    margin-top: 10px;
    background-color: red;
    border-radius: 7px;
    border-width: 0px;
    color: white;
    text-align: center;
}

.joke-container p {
    margin: 0 0 10px;
    color: darkgrey;
}

.error .jumbotron-fluid {
    padding: 80px;
    background-color: var(--body-color);
    color: var(--font-color);
}

.detailed-profile-container{
    min-height: -webkit-fill-available;
    padding:150px;
}

.detailed-profile-container h2, .detailed-profile-container h1 {
    color: var(--logo-color) !important;
}

.viewUsers, .adminViewUsers, .favourites, .error {
    min-height: -webkit-fill-available;
}

.dropdown-menu {
    background-color: #080808;
    padding: 0px;
}

.dropdown-menu a {
    color: white !important;
}

.dropdown-menu a:hover{
    color: #080808 !important;
}

.error {
    height: 760px;
}

.recommendations .jumbotron-fluid {
    display:none;
}

.jumbotron-fluid p{
    color: var(--font-color);
    font-weight: 400;
}

.btn-primary, .btn-primary:visited, .btn-primary:active:hover {
    color: var(--body-color);
    border-color: white;
    background-color:white;
}

.btn-primary:active {
    color: var(--body-color);
    border-color: white;
    background-color:white;
}

.btn-primary:hover {
    color: var(--font-color);
    border-color: white;
    background-color:var(--body-color);
}

.btn-secondary, .btn-secondary:visited, .btn-secondary:active:hover {
    color: var(--primary-color); 
    border-color: white;
    background-color:white;
}

.btn-secondary:active {
    color: var(--primary-color);
    border-color: white;
    background-color:white;
}

.btn-secondary:hover {
    color: var(--font-color);
    border-color: white;
    background-color:var(--primary-color);
} 

.thumbnail {
    min-width: 150px;
    max-width: 320px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    border: 0px;
    border-radius: 10px;
}

.thumbnail:hover {
    transform: scale(1.08,1.08);
    border: 0px;
}

.thumbnail img {
    border-radius: 10px;
}

.navbar-inverse .navbar-brand {
    color: var(--logo-color);
}
.row {
    margin-left:15px;
    margin-right:15px;
}

body {
    background-color: var(--body-color);
}

.home .jumbotron-fluid .row {
    margin: -15px;
    margin-top: 30px;
}

h2 {
    margin:0px;
    padding-top:20px;
    padding-left: 30px;
    color: var(--font-color);
}

/* Small devices (tablets, 768px and below) */
@media (max-width: 768px) {
    .jumbotron h1 {
        font-size: 4em;
    }
    .jumbotron p{
        font-size: 1em
    }
}

/* Small devices (768px and up) */
@media (min-width: 768px) {
    .jumbotron h1 {
        font-size: 4em;
    }
    .jumbotron p{
        font-size: 1.5em
    }
}

/* Medium devices (992px and up) */
@media (min-width: 992px) {
    .jumbotron h1 {
        font-size: 4em;
    }
    .jumbotron p{
        font-size: 2em
    }
}

/* Large devices (1200px and up) */
@media (min-width: 1200px) {
    .jumbotron h1 {
        font-size: 4em;
    }
    .jumbotron p{
        font-size: 2em
    }
}


.embed-responsive .embed-responsive-16by9 {
    width:200px;
}

h1, h3, h4{
    color: var(--font-color);
}


.home .jumbotron-fluid .btn {
    margin: 10px;
}
.title-div{
    background-color: red;
    width: fit-content;
    margin-left: 160px;
    padding: 10px;
    border-radius: 5px;
}
.footer {
    padding: 30px;
    color: white;
    background-color:var(--primary-color);
    bottom: 0px;
    position: initial;
}

.footer a {
    color: var(--logo-color);
    font-size: 16px;
}

.footer a {
    color: var(--logo-color);
    font-size: 16px;
}
.footer ul{
    padding: 0px;
    list-style-type: none;
}

.like-btn {
    display:contents;
}

.joke-info {
    display:inline;

}

.likes-calc {
    display: none;
}

.joke-container img {
    height: 16px;
    padding-left: 10px;
    padding-right: 2px;
}

.login-input, .register-input{
    background-color: #151E29;
    height: 50px;
    width: 340px;
    border-style: none;
    color: white;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    font-size: 16px;
}

.login-btn, .register-btn {
    background-color: var(--logo-color);
    height: 50px;
    width: 340px;
    border-style: none;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px
} 

.login-form, .register-form{
    margin: 0 auto;
    width: 340px;
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    bottom: 50%;
}

.logo{
    padding: 30px;
    width: 360px;
}

.profile-jokes-container {
    margin-top: 250px;
}

.profile-jokes-container h2{
    text-align: center;
}

.error-image {
    padding-top: 200px;
}